.logo {
    position: absolute;
    height: auto;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.logo1 {
    align-items: center;
    max-width: 65%;
    height: auto;

}

.button-container {
    display: flex;
    position: absolute;
    top: 30%;
    flex-direction: column;
    align-items: center;
    opacity: 80%;


}

.button-container button {
    border-radius: 25px;
    margin: 10px;
    font-weight: bold;
    padding: 30px;
    font-size: 25px;
    transition: background 5s ease;
}

.button-container button:hover {
    background: radial-gradient(circle, rgb(255, 0, 21), rgb(4, 0, 255));
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-y: auto;
}


h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}


form {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 15px;
}

.center-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    text-align: center;
}

input[type="text"] {
    border: none;
    padding: 5px;
    width: 80%;
    box-sizing: border-box;
    text-align: center;
}

input[type="number"] {
    border: none;
    width: 100%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background: radial-gradient(circle, rgb(255, 0, 21), rgb(4, 0, 255));
}

.tableauresultat {
    max-width: 300px;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.tableauresultat th,
.tableauresultat td {
    padding: 10px;
    border: 1px solid #ddd;
}

p {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}


.tableauStylise {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: rgb(82, 81, 81);
}

th,
td {
    border: 1px solid #252525;
    padding: 3px;
    text-align: center;
    width: 30px;

}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.styled-input {
    width: 50px;
    padding: 25px;
    font-size: 20px;
}


.debit-total {
    font-size: 15px;
    font-weight: bold;
    color: #0a0a0a;
    text-align: center;
    margin-top: 1px;
}


.resultat {
    font-size: 30px;
    color: #0072ce;
    padding-left: 10px;
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.resultat {
    transition: color 0.3s, background-color 0.3s;
}

.resultat:empty {
    color: #d50032;
}
