.logo {
    position: absolute;
    height: auto;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
}

.logo1 {
    align-items: center;
    max-width: 65%;
    height: auto;

}

.button-container {
    display: flex;
    position: absolute;
    top: 30%;
    flex-direction: column;
    align-items: center;
    opacity: 80%;


}

.button-container button {
    border-radius: 25px;
    margin: 10px;
    font-weight: bold;
    padding: 30px;
    font-size: 25px;
    transition: background 5s ease;
}

.button-container button:hover {
    background: radial-gradient(circle, rgb(255, 0, 21), rgb(4, 0, 255));
}

body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-y: auto;
}

/* Style pour le titre de la page */
h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

table {
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

/* Style pour le formulaire de saisie des données */
form {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    background: #c8c6c6 ;
    border-radius: 15px;
}

.center-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    text-align: center;
}

input[type="text"] {
    border: none;
    /* Supprime les bordures par défaut */
    padding: 5px;
    /* Ajustez la valeur selon vos besoins */
    width: 80%;
    /* Ajustez la largeur selon vos besoins */
    box-sizing: border-box;
    text-align: center;
}

/* Style pour les champs numériques du formulaire */
input[type="number"] {
    border: none;
    width: 100%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

/* Style pour le bouton de soumission du formulaire */
input[type="submit"] {
    width: 100%;
    padding: 5px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    margin: 15px auto ;
}

/* Style au survol du bouton de soumission */
input[type="submit"]:hover {
    background: radial-gradient(circle, rgb(255, 0, 21), rgb(4, 0, 255));
}

/* Style pour le tableau d'affichage des résultats */
.tableauresultat {
    max-width: 300px;
    margin: 20px auto;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

/* Style pour les cellules d'en-tête et de données du tableau */
.tableauresultat th,
.tableauresultat td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Style pour le paragraphe affichant le temps entre deux cycles */
p {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}


.tableauStylise {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: rgb(82, 81, 81);
}

th,
td {
    border: 1px solid #252525;
    padding: 3px;
    /* Ajuste l'espacement interne */
    text-align: center;
    width: 30px;
    /* S'assure que les cellules s'adaptent au contenu */
}

/* Ajout pour le titre et le logo */
.header-container {
    display: flex;
    align-items: center;
    /* Aligne verticalement le titre et le logo */
    margin-bottom: 20px;
    /* Espacement en dessous du titre */
}



.styled-input {
    width: 50px;
    padding: 25px;
    font-size: 20px;
}


/* Style pour l'élément qui affiche le débit total */
.debit-total {
    font-size: 15px;
    font-weight: bold;
    color: #0a0a0a;
    text-align: center;
    margin-top: 1px;
}


/* Style pour le résultat */
.resultat {
    font-size: 30px;
    color: #0072ce;
    /* Couleur bleue pour le résultat */
    padding-left: 10px;
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

/* Ajouter une transition si le résultat change */
.resultat {
    transition: color 0.3s, background-color 0.3s;
}

.resultat:empty {
    color: #d50032;
}
